@import "@fontsource/bebas-neue"; /* Heading font */
@import "@fontsource/inter/400.css"; /* Normal text */
@import "@fontsource/inter/700.css"; /* Bold text */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body, html, .App,#root {
  cursor: none; /* Hide default cursor */
  overflow-x: hidden; /* Prevent scrolling */
}
